::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    min-width: 0;
}

body {
    background: #008282;
    height: 200vh;
    margin: 0px;
}

p {
    margin: 0px;
    cursor: default;
    color: #ffffff;
    font-family: 'Courier New';
    font-weight: bold;
}

div {
    background: linear-gradient(to left, #0000FF, #00007e);
    padding: 0.25rem;
    border: 2px solid #a6a6a6;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
}

button {
    background: #c3c3c3;
    padding: 0.1rem;
    border: 2px solid #a6a6a6;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    color: #000000;
    font-family: 'Courier New';
}

button:active {
    border: 2px solid #a6a6a6;
    border-bottom: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@keyframes title-drop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.title-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
    animation: title-drop 1s cubic-bezier(0, 0, 0, 1) forwards;
}

@keyframes title-in {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes subtitle-in {
    0%, 50% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(1rem);
        opacity: 1;
    }
}

.title-card-title {
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    font-size: 1.25rem;
    animation: title-in 2s cubic-bezier(0, 0, 0, 1) forwards;
}

.title-card-subtitle {
    position: relative;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.75);
    transition: all 500ms ease-in-out;
    width: fit-content;
    margin-bottom: 0.25rem;
    animation: subtitle-in 3s cubic-bezier(0, 0, 0, 1) forwards;
}

.title-card-subtitle:hover {
    color: rgb(255, 255, 255);
}

.underline-animate::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transition: all 1s cubic-bezier(0.4, 0, 0.4, 1);
}

.underline-animate:hover::after {
    width: 100%;
    visibility: visible;
}

@keyframes fade {
    0%, 75% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-desc {
    padding-top: 6rem;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    text-align: center;
    animation: fade 3s cubic-bezier(0, 0, 0, 1) forwards;
}

@keyframes tab-in {
    0%, 25% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.tab-text {
    padding: 0px;
    font-size: 0.75rem;
    text-align: left;
    width: 100%;
}

.tab-container:hover {
    transform: translateY(-0.25rem);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.4, 1);
}

.tab-container {
    display: block;
    margin: 5px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.4, 1);
}

.tab-container-A {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    animation: tab-in 1s cubic-bezier(0, 0, 0, 1);
}

.tab-container-B {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    animation: tab-in 1.5s cubic-bezier(0, 0, 0, 1);
}

.tab-container-C {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    animation: tab-in 2s cubic-bezier(0, 0, 0, 1);
}

.tab-container-D {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    animation: tab-in 2.5s cubic-bezier(0, 0, 0, 1);
}

.btn-fake {
    position: absolute;
    background: #c3c3c3;
    padding: 0;
    width: 0.75rem;
    height: 0.75rem;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
}

.btn-fake-info {
    color: #000000;
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
}

@keyframes tab-info-fade {
    0%, 25% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.tab-info {
    margin: 0.5rem;
    margin-top: 1rem;
    animation: tab-info-fade 3s cubic-bezier(0, 0, 0, 1);
    max-height: auto; /* Memungkinkan elemen untuk mengembang secara halus */
    overflow: hidden; /* Menyembunyikan konten yang melebihi max-height */
    transition: all 0.5s ease; /* Animasi perubahan max-height */
}

.tab-info-text-title {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    display: none;
}

.tab-info-text-subtitle {
    font-size: 0.8rem;
    margin: 0.25rem;
}

#tab-type-None {
    display: block;
}

.all-tab-container {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.all-tab-container table {
    width: 100%;
}

@media screen and (max-width: 600px) {

    .all-tab-container table {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .all-tab-container td {
        display: flex;
        flex-direction: row;
    }

    .tab-text {
        width: calc(100vw - 1.75rem);
    }
}

@keyframes tab-info-fade-title {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.tab-info-text-title.selected {
    animation: tab-info-fade-title 1s cubic-bezier(0, 0, 0, 1) forwards;
}

.line {
    background: none;
    padding: 0;
    border: none;
    background-color: #ffffff;
    height: 1px;
    margin: 0.25rem;
}

.tab-info-text-container {
    overflow: hidden;
    background: none;
    padding: 0;
    border: none;
    display: none;
    animation: tab-info-fade-container 1.25s cubic-bezier(0, 0, 0, 1) forwards;
}

@keyframes tab-info-fade-container {
    0%,50% {
        opacity: 0;
        transform: translateX(-0.5em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#tab-type-None-container {
    display: block;
}

a {
    color: #000;
    /* font-family: 'Consolas'; */
    text-decoration: none;
}

.link-table {
    width: 100%;
}

.link-table button {
    width: 75%;
}

.link-table p {
    font-size: 1rem;
}

.link-table-link {
    text-align: center;
    padding-bottom: 0.5rem;
}

@keyframes tab-info-text-container-table-fade {
        0%,75% {
            opacity: 0;
            transform: translateX(-0.5em);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
}

.tab-info-text-container-table {
    animation: tab-info-text-container-table-fade 1.5s cubic-bezier(0, 0, 0.5, 1) forwards
}

li{
    color: white;
    margin-left: 0.5rem;
    margin-top: 0;
}
