@import "font.css";

/* BARK */

body {
    margin: 0;
    background-image: url("/src/img/glass.png");
    background-repeat: repeat;
}

.body-content{
    background-color: #dbdbdbaa;
    margin: 0;
    max-width: 900px;
    min-width: 700px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 0 #00000040;
    padding-bottom: 5px;
}

a {
    text-decoration-color: #999;
    text-decoration-thickness: 2px;
}

p {
    margin: 0;
    margin-top:0.1rem;
    margin-bottom:0.2rem;
    background: linear-gradient(#000 40%, #3d3d3d 50%, #000 70%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 1.5px #00000040;
    font-size: 16px;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
    /* align-content: start; */
}

button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 1.5px 2.5px 0 #0006;
    cursor: pointer;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 4px 3px 5px 0 #0003;}

button:active {
    transform: translateY(0px);
    box-shadow: 2px 1.5px 2.5px 0 #0006;
}

.frutiger-blue {
    background:linear-gradient(#5b8eda 5%, #badeff 25%, #5b8eda 50%, #5d5bda);
    border: 2px #ffffffaa solid;
    border-radius: 5px;
}

.frutiger-blue-text {
    background: linear-gradient(#fff 65%, #8c8bdb);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 0 1.5px #ffffff25;
}

.frutiger-red {
    background: linear-gradient(#d43131 5%, #ffb296 25%, #d43131 50%, #990008);
    border: 2px #ffffffaa solid;
    border-radius: 5px;
}

.frutiger-red-text {
    background: linear-gradient(#fff 65%, #db8b8b);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 0 1.5px #ffffff25;
}

.frutiger-black {
    background: linear-gradient(#565656 5%, #b1b1b1 25%, #565656 50%, #343434);
    border: 2px #ffffffaa solid;
    border-radius: 5px;
}

.frutiger-black-text {
    background: linear-gradient(#fff 65%, #797979);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 0 1.5px #ffffff25;
}

.navbar {
    background: linear-gradient(#aaaaaa 5%, #eeeeee 25%, #dbdbdb 50%, #8a8a8a);
    padding: 5px;
    margin: 5px;
    margin-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #0003;
}

.navbar-inline {
    display: flex;
    gap: 5px;
    align-items: center;
}

.img-inline {
    height: 16px;
    margin-right: 5px;
}

.navbar-info {
    background: linear-gradient(#eee 70%, #aaa);
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #0003;
    padding: 10px;
    margin: 5px;
    margin-top: 0;
    width: 300px;
    height: 60px;
}

.navbar-info-content-text {
    font-size: 16px;
}

.navbar-info-text {
    background: linear-gradient(#4d4d4d 40%, #757575 50%, #4d4d4d 70%);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 0 1.5px #00000040;
}

.title {
    background: linear-gradient(#000 30%, #5e5e5e 40%, #000 70%);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 0 1.5px #00000040;
    font-size: 24px;
}

.line {
    width: auto;
    height: 2px;
    background-color: #aaa;
    margin: 10px;
    border-radius: 1px;
}

.main-container {
    border: 2px #ffffff22 solid;
    border-radius: 5px;
    background-color: #ffffff33;
    margin: 10px;
    padding: 5px;
    box-shadow: 4px 3px 5px 0 #0003;}

    /* 
.button-bullet {
    width: 8px;
    height: 8px;
    background: linear-gradient(#5b8eda, #b7feff 25%,#5d5bda);
    border: 2px #000dff66 solid;
    border-radius: 100%;
} */

.subtitle {
    margin-bottom: 8px;
    margin: 0;
    background: #3d3d3d;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 0 1.5px #3d3d3d40;
    /* font-size: 14px; */
}

.img-container {
    width: 55%;
    background: linear-gradient(#aaaaaa 5%, #eeeeee 10%, #bebebe 90%, #8a8a8a);
    padding: 5px;
    margin: 5px;
    border: 2px #00000069 solid;
    border-top: 2px #ffffff69 solid;
    border-left: 2px #ffffff69 solid;
    border-radius: 5px;
    box-shadow: 4px 3px 5px 0 #0003;
}

.img-content {
    background-color: #000;
    /* image-rendering: pixelated; */
    border-radius: 5px;
    width: 100%;
    box-shadow: inset 2px 2px 5px 0px #0008;
}
